$brand_primary: red;

$brand_grey_color: #f7f8f9;
$brand_gold_color: #ffa737;
$brand_darkblue_color: #001061;
$brand_darkgrey_color: #5d5f64;
$brand_black_color: #202020;
$brand_lightblue_color: #556eed;
$brand_azure_color: #607afe;
$brand_white_color: #f8f8f8;

$d-flex: flex;

